<div class="layer-section">
  <h6>Border Layers</h6>
  <label><input type="checkbox"> Countries</label>
  <label><input type="checkbox"> Political Divisions</label>
  <label><input type="checkbox"> Continental Basin</label>
  <label><input type="checkbox"> Major River</label>
  <label><input type="checkbox"> Tributary</label>
  <label><input type="checkbox"> Watershed</label>
</div>
<hr>
<div class="layer-section">
  <h6>Data Layers</h6>
  <label><input type="checkbox" checked> Drought Conditions</label>
  <label class="disabled"><input type="checkbox" disabled> Precipitation (Coming Soon)</label>
  <label class="disabled"><input type="checkbox" disabled> Temperature (Coming Soon)</label>
  <label class="disabled"><input type="checkbox" disabled> Soil Moisture (Coming Soon)</label>
</div>
